.home {
  padding: 20px;
  height: 100vh;

  &__logo {
    margin: 116px 0 55px;
  }

  &_text {
    &__title {
      text-align: center;
      color: #fff;
      height: 30px;
    }
    &__text {
      text-align: center;
      color: #fff;
      padding: 1px 24px 0 35px;
      height: 49px;
    }
    &__sub {
      height: 30px;
      margin: 36px 0 71px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
}
