@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

$primary-font: "Tajawal", sans-serif;

:root {
  --main-color: #349eff;
  --color-white: #fff;
  --text-color-blue: #4d7cf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--text-color);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.fz-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}


.info__logo {
    margin: 16px auto;
}

.mt-24 {
  margin-top: 24px;
}
.mt-49 {
  margin-top: 49px;
}

.fw400 {
  font-weight: 400;
}
.mt37 {
  margin-top: 37px;
}
.group-two-input {
  display: flex;
  display: flex;
    justify-content: center;
    margin-top: 24px;
}